
<h2>Thank you for your suggestion.</h2>
<p><a href="/programme/suggest">Add another?</a><p>
<p><a href="/programme/panels">See other panel suggestions.</a><p>
<p><a href="/">Return to front page.</a><p>
