<!DOCTYPE html>
<html>
<head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
A new order <%= link_to order_path(@order), @order.invoice_number %> requiring confirmation has been received! 
</body>