REQUIRED TO BE COMPLETED BY MEMBER OR PARENT/GUARDIAN IF MEMBER IS UNDER 18
While the WASFF Crew make reasonable efforts to protect your wellbeing whilst attending WASFF Events, they cannot afford to be sued, they accept no liability if you or your property get hurt or damaged when attending a WASFF Event and so you, as the purchaser of a membership, agree to the following conditions of entry to any WASFF Event, on your own behalf, and as the parent or guardian of any minor and on behalf of any other person for whom this ticket is purchased (a “Relevant 3rd Party”), by signing below:</p>
		1.While participating at each WASFF Event we attend We may partake in dangerous or risky activities, and if so, We VOLUNTARILY ASSUME ALL ASSOCIATED RISKS.
		2. We WILL ABIDE BY ANY RULES of the WASFF Event e.g. those published at http://swancon.com/conventionrules or http://wasff.sf.org.au/convention_rules and with the constitution and by-laws of WASFF, published at http://wasff.sf.org.au/constitution and which are all available on request.
		3. We hereby ABSOLVE THE WASFF CREW FROM ALL LIABILITY in relation to any injury We may receive, either directly or indirectly from attending the WASFF Event and We HEREBY INDEMNIFY the WASFF Crew from, and hold the WASFF Crew harmless against, all claims of any kind that may be brought by Us against any of the WASFF Crew, which directly or indirectly relates to, arises from, is pursuant to, or is in connection with Our attendance at the WASFF Event, including any act or omission of any kind by the WASFF Crew.
		4. We permit the release of Our membership information to organisations similar WASFF, but only in accordance with, and only for purposes provided in, the WASFF constitution and by-laws, including, but not limited to providing information for checking validity of voting eligibility for Ditmar awards.
		5. “WASFF” means the Western Australian Science Fiction Foundation Inc.; “WASFF Crew” means  WASFF, its officers, its subcommittee members, its staff, its contractors and its volunteers; “WASFF Event” means any event held by or organised by WASFF and “We” means me and any Relevant Third Party and “Us” and “Our” have the corresponding meanings.
		
		To Electronically sign this disclaimer please log into the <%= link_to "Swancon Website", "https://2012.swancon.com.au/users/sign_in" %> and then click on "Membership Details"
		Alternatively please provide a signed printout with the following completed:
		
		Signed:_______________________________________________
		Print full name:______________________________________
		Date:______________________________________