<% if @saved %>
<br/>
<span style="border:1px solid #ae6; padding:2px">You have created <%= @user.order_name %>'s record.</span>
<br/>
<br/>
<% end %>

<h2>Create New Member</h2>
<p style="font-size: 50%;">(after creating, you will be able to sell something to this member)</p>
<% @quickform = true %>
<%= form_for(@user, url: {action: :create}, :method => :post) do |form| %>
<%= render partial: 'users/form', locals: {quick: true, f: form} %>
<% end %>
