Direct Deposit Details for payment:
<blockquote>
Acct Name: Swancon<br/>
BSB: 484799<br/>
Acct No: 451535781<br/>
Description: <%= @order.short_invoice_number %><br/>
</blockquote>
<br/>
<p><span class="superstrong">You must use "<%= @order.short_invoice_number %>" as your payment reference.</span><br/>
Payment must be received within five business days, or this order may be deemed expired.</p>
