<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchandise_set.name %>
</p>


<%= link_to 'Edit', edit_merchandise_set_path(@merchandise_set) %> |
<%= link_to 'Back', merchandise_sets_path %>
