<script>
// USER MODIFIABLE VARIABLES
var initialFade = 2000;
var showDuration = 10000;
var crossFade = 1000;
// END OF USER MODIFIABLE VARIABLES

var left_index = 0;
var right_index = 0;

var left_image_urls = ["https://2012.swancon.com.au/system/attachments/production/818/322/457/f3f/26b/dbe/13/large/Strategy%20Games%20with%20Miniatures.jpg",
				"https://2012.swancon.com.au/system/attachments/production/ad8/962/8f2/971/5df/569/3/large/SwanconArtShow.jpg"
				];

var right_image_urls = ["https://2012.swancon.com.au/system/attachments/production/18f/9cb/2eb/c74/194/06f/12/large/Miniatures%2002.jpg",
				"https://2012.swancon.com.au/system/attachments/production/a45/279/ca6/d34/b86/bd3/10/large/Fan%20Theater%2001.jpg"
				];

var left_images = new Array();
var right_images = new Array();

var ready = false;

function swapImages() {
	$(left_images[left_index]).fadeOut();
	$(right_images[right_index]).fadeOut();	
	left_index += 1;
	right_index += 1;
	if (left_index >= left_images.length)
		left_index = 0;
	if (right_index >= right_images.length)
		right_index = 0;
	$(left_images[left_index]).fadeIn();
	$(right_images[right_index]).fadeIn();
	setTimeout(swapImages, showDuration);
}

function doFadeIn() {
	if (ready) {
		$("#left_image").fadeIn(initialFade);
		$("#right_image").fadeIn(initialFade);
		setTimeout(swapImages, showDuration);
	}
	ready = true;
}

$(document).ready(function() {
	for (i in left_image_urls) {
		$('<img src="' + left_image_urls[i] + '" style="position: absolute; top: 0px; left: 0px;"/>').load(function() {
			if (left_images.length == 0) {
				$("#left_image").append(this);
				doFadeIn();
			} else {
				$("#left_image").append(this);
				$(this).hide();
			}
			left_images.push(this);
		});
	}

	for (i in right_image_urls) {
		$('<img src="' + right_image_urls[i] + '" style="position: absolute; top: 0px; left: 0px;"/>/>').load(function() {
			if (right_images.length == 0) {
				$("#right_image").append(this);
				doFadeIn();
			} else {
				$("#right_image").append(this);
				$(this).hide();
			}
			right_images.push(this);
		});
	}
});
</script>
<div class="right hidden" id="right_image" style="border:5px solid #E6E6E6; position: relative; width: 200px; height: 144px; border-radius: 5px; overflow: hidden;">
</div>
<div class="left hidden" id="left_image" style="border:5px solid #E6E6E6; position:relative; width: 200px; height: 144px; border-radius: 5px; overflow: hidden">
</div>
<div style="text-align: center;"><%= image_tag "desktop-theme/doom-con-logo-type.png" %></div>
<br/>
<div style="clear: both; text-align: center; font-size: 1.5em; color: #B5CF42; font-weight: bold; padding-bottom: 1.5em;">We Welcome Brandon Sanderson and Marianne De Pierres to Swancon&trade; 2012</div>
<% if @page == nil %>

<% else %>
<%= redcloth_render(@page.block.bodytext) %>
<% end %>