<div class="site-header">
  <div style="text-align: center;">
    <img src="<%= image_path "Logo720.png"%>" width=630 height=280 alt="[:LOGO:]"/> <!-- aspect 2.25 -->
    
          </div>
</div>
<div class="main-content">
  <% if @page == nil %>
    <p>Watch this space</p>
  <% else %>
    <%= redcloth_render(@page.block.bodytext) %>
  <% end %>
</div>
