- add_body_classes("home")
.intro
  .container
    %h2
      Over Easter 2016 We're celebrating 41 years of
      %strong Swancon
    =link_to "Get memberships now!", store_path, class: "btn btn-primary"

.about
  %h2 About us
  .copy
    %p We are a speculative fiction convention that is invested in all kinds of media. You will find panels and discussion about games, film, literature, and graphic novels. If you are interested in science fiction or fantasy of almost any flavour, we will have something for you.
  .year-ruby
    =image_tag("gem-40.png", width: "179", height: "223")

.guests
  .container
    %h2 Our Guests
    %ul
      - items_for_tag("guests").each do |item|
        %li
          = link_to item[:path] do
            - if item[:image].present?
              =image_tag(item[:image][:medium], alt: item[:medium])        
          %a{name: "guests"}
          = link_to item[:path] do
            %h3=item[:title]

          %p=item[:text]

.program
  %a{name: "program"}
  - if items_for_tag("programme").count > 0
    = items_for_tag("programme").first[:rendered_text]
  - else
    %h2 The Program
    %p Whoa there, it's still early days yet! We'll be adding to and refining the program in 2015, so stay tuned for more details.

- unless viewable_events.empty?
  .events
    .container
      %h2 Events      
      - viewable_events.each do |item|
        %article#event
          %h3=item[:title]
          %h4=item[:date]
          %p=item[:text]

