<% content_for :title do %>DoomCon 2012 - My Memberships<% end %>
<h2>My Memberships</h2>

<% @sets.each do |set| %>
<%= set.name %> Memberships (<%= set.tickets_for(current_user).count %>)
<table width="100%">
	<tr>
		<th>Purchaser</th>
		<th>Payment Verified</th>
		<th>Card Issued</th>		
		<th></th>
  </tr>
<% set.tickets_for(current_user).each do |ticket| %>
<%= render partial: "ticket", locals: {all: false, ticket: ticket} %>
<% end %>
</table>
<% end %>
