<% content_for :title do %>DoomCon 2012 - Modifying Panel Suggestion<% end %>
<h1>Editing Panel Suggestion</h1>

<%= render 'form' %>

<%= link_to 'Show', @panel_suggestion %> |
<%= link_to 'Back', panel_suggestions_path %>
