<% content_for :title do %>DoomCon 2012 - Panel Suggestions<% end %>
<h1>Listing Suggested Panels</h1>

<table width="80%">
  <tr>
    <th>Name</th>
    <th>Submitted By</th>
    <th></th>
  </tr>

<% @panel_suggestions.each do |suggestion| %>
<% if suggestion.visible %>
  <tr>
<% else %>
  <tr style="background-color: #AA0000;">
<% end %>
    <td><%= suggestion.name %></td>
    <td>
      <% if suggestion.user_id != nil and !suggestion.user_id_visible -%>
        N/A<% else -%><%= suggestion.display_name %><% end %>
    </td>
    <td><%= link_to 'Show', suggestion %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Suggest a Panel!', new_panel_suggestion_path %>
