<!DOCTYPE html>
<html>
<head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= @transfer.recipient.display_name %>,
<p>The ticket transfer to you from <%= @transfer.previous_owner.display_name %> has been completed</p>
<p>If you have any queries, please email us at <%= link_to "memberships-#{Rails.application.config.swancon_year}@swancon.com.au", "mailto:memberships-#{Rails.application.config.swancon_year}@swancon.com.au" %></p>
</body>