<h1>Listing payments</h1>

<table>
  <tr>
    <th>Reciept No.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><% if payment.isvoid? %> <span class="strike"><%= payment.receipt_number %></span><% else %><%= payment.receipt_number %><% end %></td>
    <td><%= link_to 'Show', payment %></td>
  </tr>
<% end %>
</table>
