#footer
	padding: $section-padding-home 0px
	.container, dl, ul
		+clearfix

	ul
		@extend %list-reset
	dt, dd, li
		float: left
	dt
		clear: left
		font-weight: 600
	dd
		margin-left: 5px
	nav
		margin-bottom: $break-space
	ul
		width: 400px
	li
		width: 200px
		text-transform: uppercase

.contact, .site-map
	float: left
	width: 50%

.site-map
	+clearfix
	.store, .social
		float: left
	.social
		margin-top: 5px
	.store
		margin-right: $gutter

.social
	a
		display: inline-block
		&:first-child
			margin-right: 10px

.end-note
	padding-top: $break-space
	font-size: 12px
	text-align: center
