<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @payment_type.name %>
</p>

<% if @payment_type.requires_reconciliation %>
Requires Reconciliation
<% end %>

<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
