/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal 65.5% "Trebuchet MS",Verdana,sans-serif;
}

p,code,ul {
	padding-bottom: 1.2em;
}

h1 {
	padding-top: 6px;
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

h2 {
	padding-top: 6px;
	font: normal 2em Impact,sans-serif;
	margin-bottom: 8px;
	padding-bottom: 11px;
	letter-spacing: 1px;
}

blockquote {
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

button {
	padding: 4px;
}

/* misc */
.clearer {
	clear: both;
	font-size: 0;
}

.left {float: left;}
.right {float: right;}

/* structure */
.wrapper {
	font-size: 1.3em;
	margin: 0 auto;
	width: 1024px;
}

/* title */
.title {
	font: normal 3em Tahoma,sans-serif;

}

/* sub navigation */
.sidenav {
	padding-top: 126px;
	float: right;
	width: 210px;

	h2 {
		font-size: 1.4em;
		line-height: 30px;
		margin: 0;		
	}

	ul {
		padding: 0.5em 0 0 0.5em;	
	}

	li {
		list-style: none;

		a {
			font-size: 1.1em;
			line-height: 1.5em;
			text-decoration: none;
		}	
	}
}

/* content */
.content {
	float: left;
	margin: 10px 0;
	padding-top: 32px;
	width: 800px;

	.descr {
		margin-bottom: 6px;	
	}

	li {
		margin-left: 18px;
	}
}

/* footer */
.footer {
	border-top: 1px dashed #333;
	font: normal 0.9em sans-serif;
}

.footer a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;	
	}

	.left .right {
		padding: 10px 0;
	}

}

/* scaffold */
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
  color: #000;
}

/* others */

.error {
	color: red;
}

.strike {
	text-decoration: line-through;
}

.text-right {
	text-align: right;
}

.merchandise-image > .caption {
	text-align: center;
	font-size: 90%;
}

span.superstrong {
	font-size: 1.5em;
	font-weight: bold;
}

.nodisplay {
	display: none;
}

.mortiscms_list_time {
	font-size: 0.7em;
}