a {
	color: #FF3;
	&:hover {   
		color: #AA3;
	}
}

body {
	background: #111 image_url("desktop-theme/bg.jpg") repeat-x;
	color: #EEE;
}

h2 { 
	background: image_url("desktop-theme/stripes.gif") repeat-x left bottom;
	color: #CCC;
}

blockquote {
	color: #CCA;
}

.container {
	background: image_url("desktop-theme/header.gif") no-repeat center top;
}

.olive {color: #CCA;}

.sidenav {
	background: image_url("desktop-theme/sidenav-badge.png") no-repeat center top;

	h2 {
		color: #9A3;	
	}

	li {
		a {
			color: #777;

			&:hover {
				color: #8DCA3F;
			}
		}
	}
}

.content {
	.descr {
		color: #8DC63F;
	}
}

.footer {
	color: #777;

	a {
		color: #784;

		&:hover {
			color: #AA3;
		}

		.left .right {
			a {
				color: #555;
				&:hover {
					color: #999;
				}
			}
		}
	}
}