/* 
 * This is a manifest file that'll automatically include all the stylesheets available in this directory 
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at 
 * the top of the compiled file, but it's generally better to create a new file per style scope. 
 *= require_self 
*/  

.sidenav {
	display: none;
}

.footer {
	display: none;
}

.noprint {
	display: none;
}

.nodisplay {
	display: none;
}

.text-right {
	text-align: right;
}

span.superstrong {
	font-size: 1.5em;
	font-weight: bold;
}

body {
	font: normal 75.0% "Courier New",sans-serif;
}