<ul class="operator_select">
  {{#link-to 'check_details'}}<li>I'm taking details and checking details</li>{{/link-to}}
  {{#link-to 'front_desk'}}<li>I'm sitting at the front desk</li>{{/link-to}}
</ul>
