<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchandise_option_set.name %>
</p>


<%= link_to 'Edit', edit_merchandise_option_set_path(@merchandise_option_set) %> |
<%= link_to 'Back', merchandise_option_sets_path %>
