%h1 Tickets Available at Convention!

%div 
	The online store is now Closed. Tickets are still available at the convention via cash or EFTPOS.

%div
	Swancon 2014 is at the Ibis Styles Northbridge, located at 15 Robinson Avenue in Northbridge. 

%div
	We hope to see you there! 
