%h1 Memberships Available at the Convention!

%div 
	The online store is now Closed. Memberships are still available at the convention via cash or EFTPOS.<p>

	Membership prices are:<p>
	* Whole Convention Membership (5 days): $260 full / $190 concession.<br>
	* Half Day membership (Thu or Mon): $40 full / $35 concession.<br>
	* Day Membership (Fri, Sat or Sun): $75 full / $55 concession.<br>
	* First time Day Membership: $40 full / $35 concession.<br>
	* Special Event membership (Aurealis Awards or Masquerade): $20<br>
	<p>

%div
	Swancon 2016 is at the Pan Pacific Hotel, situated at 207 Adelaide Terrace, Perth.<p>

%div
	We hope to see you there! 
