%h1 Memberships Available at the Convention!

%div 
	The online store is now Closed. Memberships are still available at the convention via cash or EFTPOS.

%div
	Swancon 2015 is at the <insert hotel name and address>

%div
	We hope to see you there! 
